.contentAdmin
  color: black
.mainForm
  padding: 20px
  width: 20%
  height: 45vh
  border-radius: 3%
  position: absolute
  top: 50%
  left: 40%
  background: white
  transform: translateX(-50%)
  transform: translateY(-50%)